<div class = 'container fill'>
	<div id='show_graph'>
  </div>
</div>


<script>

var rel_path = ("<%= escape_javascript @dam.slug %>" + "/count_data.json");
console.log(rel_path);

function appendChart(count_data) {

  var dataset = count_data;
  var width = 360;
  var height = 360;
  var radius = Math.min(width, height) / 2;
  var donutWidth = 75;
  var legendRectSize = 18;                             
  var legendSpacing = 4;                               

  var color = d3.scale.category20c();

  var svg = d3.select('#show_graph')
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(' + (width / 2) + 
      ',' + (height / 2) + ')');

  var arc = d3.svg.arc()
    .innerRadius(radius - donutWidth)
    .outerRadius(radius);

  var pie = d3.layout.pie()
    .value(function(d) { return d.count; })
    .sort(null);

  var path = svg.selectAll('path')
    .data(pie(dataset))
    .enter()
    .append('path')
    .attr('d', arc)
    .attr('fill', function(d, i) { 
      return color(d.data.fish_id);
    });

  var legend = svg.selectAll('.legend')                
    .data(color.domain())                              
    .enter()                                           
    .append('g')                                       
    .attr('class', 'legend')                           
    .attr('transform', function(d, i) {                
      var height = legendRectSize + legendSpacing;     
      var offset =  height * color.domain().length / 2;
      var horz = -2 * legendRectSize;                  
      var vert = i * height - offset;                  
      return 'translate(' + horz + ',' + vert + ')';   
    });                                                

  legend.append('rect')                                
    .attr('width', legendRectSize)                     
    .attr('height', legendRectSize)                    
    .style('fill', color)                              
    .style('stroke', color);                           
    
  legend.append('text')                                
    .attr('x', legendRectSize + legendSpacing)         
    .attr('y', legendRectSize - legendSpacing)         
    .text(function(d) { return d; });
  
  function sumFun(count_data) {
    sum = 0
    for(var i = 0; i < count_data.length; i++) { 
      sum += count_data[i].count
    }
    console.log(sum)
  };
};

$.ajax({
           type: "GET",
           contentType: "application/json; charset=utf-8",
           url: rel_path,
           dataType: 'json',
           success: function (data) {
               count_data = data.fish_counts;
               appendChart(count_data);
               console.log(data);
           },
           error: function (result) {
               console.log("Failed to Load");
           }
       });

</script>