.container
  - @dams.each do |dam|
    .col-md-8
      %h2
        = link_to "#{dam.name}", dam_url(dam)
      - dam.fish_counts.each do |count|
        / %p
        /   = count.count_date
        /   %strong :
        /   = count.fish.name
        /   %strong :
        /   = count.count