.sidebar-block
  = render :partial => "sidebar"
.col-md-5.dam-graph-block
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      Data From Our Most Recent Count
    = render :partial => "dam_graph"
  .panel.panel-default.text-block-1.quality-block
    %h4.text-center
      / %h2 Water Quality Data
      %button.btn.btn-info{"data-target" => "#demo", "data-toggle" => "collapse", :type => "button"} Show Water Quality Data
      #demo.collapse
        %p.text-left
          = @water_quality
.col-md-5.fish-count-block
  = render :partial => "fish_count"