= image_tag("orcas.jpg", :class => "bg-picture" )
.container
  .text-block-1
    = render :partial => "home_map"
.container
  %input{:onClick => "window.location.reload()", :type => "button", :value => "ReRun"}
      