@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background-image: image-url("wood-bg.jpg");
	background-repeat: repeat;
}

/* Background image style */

.bg-picture {
	opacity: 0.9;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;	
}

.bg-about {
	background-image: image-url("nerka.jpg");
	background-repeat: repeat;
}

/* Navigation styling */
.navbar-text {
	a {
		color: #455455;
	}

	a:hover {
		color: #0CA8AD;
		text-decoration:none;
	}

	a:active {
		color: #0CA8AD;
		text-decoration:none;
	}

	a:visited {
		text-decoration:none;
	}
}

.navbar-nav.navy-items {
	margin-top: -13px;

	a:hover {
		color: #0CA8AD !important;
	}

	a:active {
		color: #0CA8AD !important;
		text-decoration:none;
	}

	a:visited {
		text-decoration:none;
	}
}

.navbar-text {
  font-family: "font-family: Volkhorn, serif";
}

.title-text {
  font-family: "font-family: Volkhorn, serif";
}


/* Custom text blocks */

.text-block-1 {
	background-color: #fff;
	padding: 1em;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 15px;
	opacity: 0.9;

	h1 h3 p{
		opacity: 1;
	}
}

.text-block-2 {	
	background-color: #fff;
	padding: 2em;
  margin-top: 20%;
	border-radius: 10px 10px 10px 10px;
	opacity: 0.6;

	h1 h3 p{
		opacity: 1;
	}
}

  .bio {
    opacity: 0.8;
  }

/* Contain mapbox to an appropriate location on page */
#map
{
    width: 100px;
    height:100px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

// .home-map{
//   opacity: 0.7;

//     &:hover{
//       opacity: 1;
//     }
// }

.fill {
    min-height: 100%;
    height: 500px;
    width: 100%;
    min-width: 100%;
    margin-bottom: 1em;

}

.full {
  margin-top: -2em;
  min-height: 100%;
  height: 1000px;
  width:100%;
  min-width:100%;

}

/* Badges for fish counts */
.custom-badges {
	font-family: Helvetica;
    padding: 2px 8px 2px 8px;
    font-weight: 100; 
}

.fishcount-badge {
		background-color: #4C76A0;
	}

.increasing-badge {
		background-color: #438652 !important;

	}
.decreasing-badge {
		background-color: #D20B30 !important;

	}
.same-badge {
		background-color: #FDBE30 !important;
	}
.notfound-badge {
		background-color: #000 !important;
	}

/* donut */
#show_graph {
  width: 400px;
  height: 400px;
  margin: 10px auto;
  position: relative;
}

#mobile_graph {
  display: none !important;
}

#try-later {display: none;}

.legend {
	font-size: 10px;
  margin-top: 100px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

.fish-pic {
	margin: auto;
} 

#parralax #parralax-content{
  background-image: image-url("parsalmon.jpg");
  background-size:cover;
  background-attachment:fixed;
  padding:100px 10px;
  max-width:2000px;
  min-height: 400px;
  padding:50px 20px 40px 20px;
  margin:0px auto;
  margin-bottom: 6em;
  margin-top: 6em;
  text-align:center;
}

/* Repsonsive */

@media screen and (max-width: 800px){
  .quality-block {display:none;}
	.sidebar-block {display: none;}
  #parralax {display: none;}
}

@media screen and (max-width: 465px){
  #show_graph {display: none !important;}
  #mobile_graph {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    position: relative;
    display: block !important;
  }

}