%nav.navbar.navbar-default
  .container
    .navbar-header
      %h4.navbar-text
        = link_to 'passive-capture', root_path
    %ul.nav.navbar-nav.navy-items
      %li.navbar-text
        = link_to 'data', dams_path
      %li.navbar-text
        = link_to 'about', about_path
      
      