<div class = 'container fill'>
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <div id='fish_index_graph'>
    <div id="chart"></div>
  </div>
  <div id='try-later'>
    <p>This graph is not yet ready for mobile. Try flipping your phone horizontal.</p>
  </div>
</div>

</script>