.col-md-2
  .panel.panel-default.text-block-1
    .panel-heading Index of Fish
    %ul.list-group
      - @fishes.each do |fish|
        %li.list-group-item
          = link_to "#{fish.name}", fish_url(fish)

