.col-md-2
  .panel.panel-default.text-block-1
    .panel-heading.butntext.text-center
      = link_to "All Fish", fish_index_path
    %ul.list-group
      - @fishes.each do |fish|
        %li.list-group-item.title-text
          = link_to "#{fish.name}", fish_url(fish)
    .panel-heading.butntext.text-center
      = link_to "Home", root_path

