.sidebar-block
  = render 'sidebar'
.col-md-10.dam-graph-block
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      Current Salmon Runs
    %h2.text-center.butntext
      %em coming soon
  / = render 'fish_index_graph'